body {
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Grande", Tahoma, Verdana, arial, Sans-Serif;
  font-size: 12px;
  min-width: 800px;
  width: 100%;
   }



#content {
    padding:0px;
    margin:0px;
    width: 100%;
}

#header {
  background-color: #33ccff;
  padding:0;
  margin: 0;
  height: 105px;
  border-bottom: 2px solid #33cccc;
  }

#header img {float:right;
  padding: 5px;
  padding-right: 5%;}

#header h1{
    padding-top: 35px;
    padding-left: 1%;
    margin: 0px;
    float:left;
    font-size: 20pt;
    color: white;
  }

#main {
  text-align: center;
}

.login_box {border: 1px solid #999999; width: 33%; margin: auto !important;
  -webkit-border-top-left-radius: 20px 20px;
  -webkit-border-top-right-radius: 20px 20px;
  -webkit-border-bottom-left-radius: 20px 20px;
  -webkit-border-bottom-right-radius: 20px 20px;
  
  -moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
}

#nav {
  background-color: #ffff66;
  padding:5px;
  border-bottom: 1px solid #999999;
  }

#nav a{
  font-weight: bold;
  color: #999999;
}

#nav a:visited{
  font-weight: bold;
  color: #333333;
}

#nav a:link{
  font-weight: bold;
  color: #333333;
}
