html, body {background: #99ccff;
      padding: 0px;
      margin: 0px;
      font: bold 16px/18px arial,sans-serif;
      color: #333333;
   }

img {border:none}

#content {
    padding-top:0px;
    margin-top:0px;
    padding: auto !important;
    margin: auto !important;
}

#header {
  background-color: #007399;
  padding:0;
  margin: 0;
  height: 105px;
  border-bottom: 1px solid #333333;
  }

#header img {
  float:left;
  padding: 5px;
  padding-right: 2%;
  padding-left: 2%;
}

#header h1{
    padding-top: 35px;
    padding-left: 1%;
    margin: 0px;
    float:left;
    font-size: 20pt;
    color: white;
  }


#signup {
  text-align:center;
  width: 30%;
  margin: auto !important;
  border: 1px solid #33cccc;
  background-color: white;

  -webkit-border-top-left-radius: 20px 20px;
  -webkit-border-top-right-radius: 20px 20px;
  -webkit-border-bottom-left-radius: 20px 20px;
  -webkit-border-bottom-right-radius: 20px 20px;
  
  -moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
}
#signup label {
  float:left;
  padding-left: 20%;
  font: 16px/16px arial,sans-serif;
}

h1 {
  font: bold 36px/36px arial,sans-serif;
  padding-left:20%;
  color: #333333;
}

ul.select_organisation {
  list-style-type: none;
}

ul.select_organisation li{
  margin:0px;
  padding:0px;
  padding-left:50px;
  text-align:left;
}

#login_form {
  text-align:center;
  width: 30%;
  margin: auto !important;
  border: 1px solid #33cccc;
  background-color: white;

  -webkit-border-top-left-radius: 20px 20px;
  -webkit-border-top-right-radius: 20px 20px;
  -webkit-border-bottom-left-radius: 20px 20px;
  -webkit-border-bottom-right-radius: 20px 20px;
  
  -moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
}
#login_form label {
  float:left;
  padding-left: 22%;
  font: 16px/16px arial,sans-serif;
}

h3 .bed_number {
  color: #cc3333;
 display:inline;}

h3 .street_address {
  text-decoration: underline;
 display:inline;}

#houses_and_beds {
  padding-left: 15px;
}

table {width: 40%; border: 1px solid #333333; padding: 0px; margin: 0px;}
table tr.even{ background-color: #061f2d}
table tr.even{ background-color: #96d0f1 }
table th{ background-color: #336699; color:white }
