html, body {background: #99ccff;
      padding: 0px;
      margin: 0px;
   }

img {border:none}

#content {
    padding-top:0px;
    margin-top:0px;
    padding: auto !important;
    margin: auto !important;
}
#signup {
  text-align:center;
  width: 30%;
  margin: auto !important;
  border: 1px solid #33cccc;
  background-color: white;
  -moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
}
#signup label {
  padding-left:10px;
  float:left;
  padding-left: 20%;
  font: 16px/16px arial,sans-serif;
}

h1 {
  font: bold 36px/36px arial,sans-serif;
  padding-left:20%;
  color: #333333;
}


