html, body {background: #ccffff;
      padding: 0px;
      margin: 0px;
      height: 100%;
   }

img {border:none}

#content {
    padding-top:0px;
    margin-top:0px;
    padding: auto !important;
    margin: auto !important;
    width: 1024px; 
    height: 100%;
    background: #99ffff url('/images/background/dome.png') no-repeat center top}

/* START SPLASH PAGE */

#pillow {
  padding-left: 45%;
  padding-top: 9%;
  padding-bottom: 3%;
}

#text {
  text-align: center;
  padding-top:5%;
}

#buttons {
  text-align: center;
}

#blurb {
  text-align:center;
  padding:2%;
}
/* END SPLASH PAGE */

#signup {
  text-align:center;
}
