#nav
  = link_to "Organisations", :controller => "admin/organisations", :action => :index
  = link_to "Organisation Types", :controller => "admin/organisation_types", :action => :index
  = link_to "Users", :controller => "admin/users", :action => :index
